@page "/azul/contato"
@layout AzulLayout

<PageTitle>Azul - Contato</PageTitle>
<link rel="stylesheet" href="/css/azul-contato.css" />

<section class="azul-contato-root">
  <h2>Contato</h2>
  <p>Formas de contato e informações.</p>
</section>
